* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
:root {
  --background-color: #f4f6fa;
  --secondary--color: #313e51;
  --ascent--color: #626c7f;
  --purple--color: #a729f5;
  --green--color: #26d782;
  --red--color: #ee5454;
  --button--bgc: #ffff;
  --ascent2--color: #abc1e1;
  --ascent--3--color: #edf1f9;
}

.dark-theme {
  --background-color: #313e51;
  --secondary--color: #ffff;
  --button--bgc: #3b4d66;
  --ascent--3--color: #2d3949;
  --ascent--color: #abc1e1;
  background-image: url(/src/images/pattern-background-desktop-dark.svg);
}

body {
  font-family: 'Rubik', sans-serif;
  background-image: url(/src/images/pattern-background-desktop-light.svg);
  background-color: var(--background-color);
  color: var(--secondary--color);
}

.main {
  padding: 4.8rem 15rem;
}

.nav {
  display: flex;
  justify-content: space-between;
  height: 6.4rem;
  align-items: center;
  width: 90rem;
  margin: 0 auto;
}

.right-section,
.left-section {
  display: flex;
  align-items: center;
}

.left-section img {
  margin-right: 1.5rem;
}

.left-section .subj--title {
  font-size: 1.75rem;
  color: var(--secondary--color);
}

.span--toggle_mode {
  height: 2rem;
  width: 4rem;
  background-color: var(--purple--color);
  border-radius: 1.2rem;
  display: flex;
  align-items: center;
  margin: 0 1.2rem;
  position: relative;
  cursor: pointer;
}

.toggle--btn {
  height: 1.8rem;
  width: 1.8rem;
  border-radius: 50%;
  background-color: #ffff;
  position: absolute;
}

.toggle_dark--mode {
  right: 0.1rem;
}

.hidden {
  display: none;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90rem;
  margin: 0 auto;
}

/* GOODLUCK */

.main--container {
  /* display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 8rem; */
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 8rem;
  /* max-width: 10rem; */
}

.left--side {
  display: flex;
  flex-direction: column;
}

/* .headings {
  margin-bottom: 3rem;
} */

.headings .light,
.headings .bold {
  font-size: 4rem;
  line-height: 100%;
  color: var(--secondary--color);
}

.headings .bold {
  font-weight: 500;
}

.headings .light {
  font-weight: 300;
}

.p {
  margin-top: 3rem;
  font-size: 1.25rem;
  font-style: italic;
  font-weight: 400;
  line-height: 150%;
  color: var(--ascent--color);
}

.right--side {
  display: grid;
}

.quiz--btn {
  min-width: 32.25rem;
  margin-bottom: 2rem;
  display: grid;
  grid-template-columns: 5rem 1fr 5rem;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem;
  border-radius: 1.5rem;
  background-color: var(--button--bgc);
  border: none;
  box-shadow: 0 1.6rem 4rem 0 rgba(143, 160, 193, 0.14);
  cursor: pointer;
}

.quiz--btn .logo {
  margin-right: 2rem;
}

.quiz--btn .subj {
  font-size: 1.75rem;
  font-weight: 500;
  line-height: 100%;
  color: var(--secondary--color);
}

/* QUESTION PAGE */

.left--questions_side {
  width: 35rem;
}

.question-num {
  font-size: 1.25;
  font-style: italic;
  font-weight: 400;
  line-height: 150%;
  align-self: stretch;
  margin-bottom: 2rem;
  color: var(--ascent--color);
}

.question {
  font-size: 2.25rem;
  font-weight: 500;
  line-height: 120%;
  color: var(--secondary--color);
}

.status-bar {
  width: 100%;
  height: 1rem;
  border-radius: 62.4375rem;
  background-color: var(--button--bgc);
  margin-top: 10rem;
}

.status {
  width: 10%;
  height: 100%;
  border-radius: 62.4375rem;

  background-color: var(--purple--color);
}

.quiz--btn {
  position: relative;
}

.options,
.optuion_ans {
  font-size: 1.75rem;
  font-weight: 500;
  line-height: 100%;
}

.optuion_ans {
  color: var(--secondary--color);
}

.options {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 2rem;
  background-color: #f4f6fa;
  color: var(--ascent--color);
  border-radius: 1rem;
  width: 3.5rem;
  height: 3.5rem;
}

.submit--btn {
  padding: 2rem;
  border: none;
  font-size: 1.75rem;
  font-weight: 500;
  line-height: 100%;
  color: #ffff;
  background-color: var(--purple--color);
  box-shadow: 0 1.6rem 4rem 0 rgba(143, 160, 193, 0.14);
  border-radius: 1.5rem;
  cursor: pointer;
  transition: all 600ms;
}

.submit--btn:hover {
  /* background: linear-gradient(0deg, rgba(255, 255, 255, 0.5) 100%), */
  /* var(--purple--color); */
  opacity: 0.4;
}

.active_btn__answered {
  border: 0.3rem solid var(--purple--color);
}

.active_btn--option {
  background-color: var(--purple--color);
  color: #fff;
}

.status--err--corr {
  position: absolute;
  right: 2rem;
}

.error-msg {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 100%;
  color: var(--red--color);
  display: none;
}

.error-msg img {
  margin-right: 1.2rem;
}

.correct-anser {
  border: 0.3rem solid var(--green--color);
}
.wrong-anser {
  border: 0.3rem solid var(--red--color);
}

/* SCORES PAGE */

.score--btn {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 3rem;
  width: 32rem;
  margin-bottom: 2.4rem;
  border: none;
  background-color: var(--button--bgc);
  border-radius: 1.5rem;
}

.scores--logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70%;
}

.scores--logo img {
  margin-right: 1.2rem;
}

.score {
  font-size: 9rem;
  font-weight: 500;
  color: var(--secondary--color);
}

.questions--number {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 150%;
  color: var(--ascent--color);
}

.subj {
  font-size: 1.75rem;
  font-weight: 500;
  color: var(--secondary--color);
}
